:root {
  --color-navy-navbar: #1c1c5ecc;
  --color-navy: #1c1c5e;
  --color-red: #ff032e;
  --color-grey: #878a9f;
  --color-lightgrey: #878a8a;
  --color-light: #f3f3f3;
  --color-white: #ffffff;

  --font-extralight: 300;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  --w-7xl: 80rem;
}

* {
  color: var(--color-lightgrey);
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--color-white);
};

main {
  margin: auto;
}

/* Template */

header section {
  max-width: var(--w-7xl);
  margin: auto;
}

div#priority-issue section,
div#workstream section,
div#press-release section,
div#events section,
footer section {
  max-width: var(--w-7xl);
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-navy);
  text-align: center;
  font-weight: var(--font-semibold);
  margin-bottom: 5rem;
}

/* Navigation */

nav {
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-navy-navbar);
  position: fixed;
}

nav section {
  margin: auto;
  max-width: 80rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav section div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

nav section div a {
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  color: var(--color-white);
}

nav section div a:hover {
  font-weight: var(--font-semibold);
}

nav section a.cta-join-us {
  text-decoration: none;
  border: 1px solid var(--color-light);
  border-radius: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: var(--color-white);
  font-weight: var(--font-bold);
}

nav section a.cta-join-us:hover {
  background-color: var(--color-white);
  color: var(--color-navy);
}

/* Header */

header {
  height: 100vh;
  background-image: url('../assets/images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Priority Issue */

div#priority-issue {
  background-color: var(--color-light);
  min-height: 100vh;
  display: grid;
}

div#priority-issue section div.issue-cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 4rem;
}

div#priority-issue section div.issue-cards article.issue-card {
  flex: 1;
  border-radius: 0.75rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: 2.5px solid var(--color-navy);
  min-height: 24rem;
}

div#priority-issue section div.issue-cards article.issue-card img {
  width: 25%;
  margin: auto;
  display: block;
  height: auto;
  margin-bottom: 2rem;
}

div#priority-issue section div.issue-cards article.issue-card h4 {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-navy);
  font-weight: var(--font-semibold);
}

div#priority-issue section div.issue-cards article.issue-card p {
  color: var(--color-lightgrey);
  font-size: 1.25rem;
  line-height: 1.5rem;
}
